<div class="row">
     
        <div class="col-lg-8">
          <h1>Create a new Registered Student Organization</h1>


            <form role="form" class="col-lg-6">
                <fieldset class="form-group">
                    <label>Enter a name for the new Registered Student Organization</label>
                    <input class="form-control">
                </fieldset>

                <button type="submit" class="btn btn-secondary">Register</button>
            </form>

        </div>
</div>