<div class="row">
    
       <div class="col-lg-7">
      <h1>Join a Registered Student Organization</h1>

 
           <form role="form" class="col-lg-6">
              <div class="form-group">
                 <label>Selects</label>
                  <select class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
              </div>

               <button type="submit" class="btn btn-secondary">Register</button>
           </form>

       </div>
</div>