<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>EventU Registration</h1>
            <form name="form">
            <!-- < form name="form" #f="ngForm"  (ngSubmit)=" register()"   novalidate > -->
          
                <div class="row">
                 <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                            <input type="text" name="firstName" id="firstName" class="form-control input-underline input-lg" placeholder="First Name" required>
                      <!--<input type="text" name="firstName" id="firstName" #firstName="ngModel" [(ngModel)]="userModel.firstName" class="form-control input-underline input-lg" placeholder="First Name" required>-->
                      <!--<div *ngIf="f.submitted  && !firstName.valid" class="help-block">First Name is required</div>-->
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="lastName" id="lastName" class="form-control input-underline input-lg" placeholder="Last Name" required>
                      <!--<input type="text" name="lastName" id="lastName" [(ngModel)]="userModel.lastName" #lastName ="ngModel" class="form-control input-underline input-lg" placeholder="Last Name" required>-->
                      <!--<div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>-->
                    </div>
                  </div>
                </div>
                
                <div class = "row">
                    <div class = "col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control input-underline input-lg" placeholder="Email" tabindex="1" required>
                    <!--<input type="email" name="email" id="email" [(ngModel)]="userModel.email" #email ="ngModel" class="form-control input-underline input-lg" placeholder="Email" tabindex="1" required>-->
                    <!--<div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                              <input type="text" name="studentid" id="studentid" class="form-control input-underline input-lg" placeholder="Student ID" required>
                              <!--<input type="text" name="lastName" id="lastName" [(ngModel)]="userModel.lastName" #lastName ="ngModel" class="form-control input-underline input-lg" placeholder="Last Name" required>-->
                              <!--<div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>-->
                            </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-underline input-lg" placeholder="Password" tabindex="1" required>
                        <!--<input type="password" name="password" id="password" [(ngModel)]="userModel.password" #password ="ngModel" class="form-control input-underline input-lg" placeholder="Password" tabindex="1" required>-->
                        <!--<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>-->
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                            <input type="password" name="passwordConfirmation" id="passwordConfirmation"class="form-control input-underline input-lg" placeholder="Confirm Password" tabindex="1" required>
                        <!--<input type="password" name="passwordConfirmation" id="passwordConfirmation" [(ngModel)]="userModel.passwordConfirmation" #passwordConfirmation ="ngModel" class="form-control input-underline input-lg" placeholder="Confirm Password" tabindex="1" required>-->
                        <!--<div *ngIf="f.submitted && !passwordConfirmation.valid" class="help-block">Password Confirmation is required</div>-->
                    </div>
                    <!--<div class="alert alert-danger w-100" <!--*ngIf = "errors.password !== null">{{errors.password}}</div>-->
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-12">
                    
           <form role="form">
              <div class="form-group">
                 <label>University</label>
                  <select class="form-control">
                      <option>University of Central Florida</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
              </div>
              </form>

                  </div>
                </div>

                <!--<div class="row">  
                  <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="form-group">
                      <label for="insurance">Insurances:</label>
                      <select [(ngModel)]="patientModel.insurance" name="insurance" #insurance="ngModel">
                        <option *ngFor="let insurance of insurances" [ngValue]="insurance._id">{{insurance.name}}</option>
                      </select> 
                      <div *ngIf="f.submitted && !insurance.valid" class="help-block">Insurance is required</div>
                    </div>
                  </div>
                </div>-->
              
                
      
                <div class="row">
                  <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn rounded-btn" tabindex="7"></div>
                </div>
              </form>
        </div>
    </div>
</div>
